<ion-view title="Euro Match" id="page2" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="match-list2" ng-repeat="match in matches |orderBy:'date_match'">
          <div class="item item-divider" style="height:40px;text-align:justify;">
            <div class="row" >
              <div class="col col-75"> <h4 id="match-markdown1" style="margin-top:0px;color:#000000;font-size:14px;text-align:justify;" class=" ">{{ match.group_name }}</h4></div>
            <div class="col" style="padding-right:60px;">{{ match.date_match | date: 'dd.M.yyyy' }}</div>
         </div>
          </div>
            <ion-item id="match-list-item5">
              <div class="row">
                <div class="col col-30" style="font-size:14px;">{{ match.home.team }} </div>
                <div class="col col-15"><i class="icon ion-tshirt" style="font-size:25px;color:red"></i></div>
                <div class="col col-5" style="padding-left:5%;padding-right:5%;">{{ match.home.goals }}<span style="padding-left:7%;padding-right:7%;color:ddd;">-</span> {{ match.away.goals }}</div>
                <div class="col col-15" ><i class="icon ion-tshirt" style="font-size:25px;color:black;"></i></div>
                <div class="col col-30" style="font-size:14px;">{{ match.away.team }}</div>
              </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>

<!--ion-item id="match-list-item5">
  <div class="row">
    <div class="col col-25" style="font-size:14px;padding-right:20px;padding-left:20px;">Italy </div>
    <div class="col col-10"><i class="icon ion-tshirt-outline" style="font-size:25px;color:green;"></i></div>
    <div class="col col-10">1</div>
    <div class="col col-5">-</div>
    <div class="col col-10">2</div>
    <div class="col col-10"><i class="icon ion-tshirt" style="font-size:25px;color:blue;"></i></div>
    <div class="col col-25" style="font-size:14px;padding-left:20px;padding-right:20px;">France</div>
  </div>
</ion-item-->
