<ion-view title="Player" id="page6" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="player-list4" class=" ">
            <ion-item class="item-thumbnail-left  " id="player-list-item17">
                <img src="img/bvyzBSToeNoxlyD58hwL_arsenal.png">
                <h2>Arsenal</h2>
                <p>Gunner</p>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="player-list-item18">
                <img src="img/LA97mLOASQ6hvKXBW1U4_MesutOzil.png">
                <h2>Mesut Ozil</h2>
                <p style="white-space:normal;">$10000000</p>
                <i class="icon ion-cash"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>