<ion-view title="Standing" id="page3" class=" ">
    <ion-content padding="false" class="has-header">
        <form id="standing-form1" class="list ">
            <label class="item item-select " id="standing-select1" name="choice">
                <span class="input-label">Select League</span>
                <select>
                    <option>Premier League</option>
                    <option>Laliga</option>
                    <option>Italy</option>
                    <option>Bundaliga</option>
                </select>
            </label>
            <ion-item class="item-avatar  " id="standing-list-item8">
                <img src="img/0TmyELukSnqeD2PvoVpp_leicester.png">
                <h2>
                    <div class="row">
                        <div class="col">Lecister</div>
                        <div class="col">38</div>
                        <div class="col">25</div>
                        <div class="col">6</div>
                        <div class="col">70</div>
                    </div>
                </h2>
            </ion-item>
            <ion-item class="item-avatar  " id="standing-list-item9">
                <img src="img/0TmyELukSnqeD2PvoVpp_leicester.png">
                <h2>
                    <div class="row">
                        <div class="col">Lecister</div>
                        <div class="col">38</div>
                        <div class="col">25</div>
                        <div class="col">6</div>
                        <div class="col">70</div>
                    </div>
                </h2>
            </ion-item>
            <ion-item class="item-avatar  " id="standing-list-item10">
                <img src="img/0TmyELukSnqeD2PvoVpp_leicester.png">
                <h2>
                    <div class="row">
                        <div class="col">Lecister</div>
                        <div class="col">38</div>
                        <div class="col">25</div>
                        <div class="col">6</div>
                        <div class="col">70</div>
                    </div>
                </h2>
            </ion-item>
        </form>
    </ion-content>
</ion-view>