<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-positive tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Match" icon="ion-ios-football-outline" href="#/page1/match" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Standing" icon="ion-trophy" href="#/page1/page3" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Highlight" icon="ion-social-youtube" href="#/page1/video" id="tabsController-tab3" class=" balance">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Team" icon="ion-tshirt" href="#/page1/team" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
