<ion-view title="Team" id="page5" class=" ">
    <ion-content padding="false" class="has-header">
        <form id="team-form3" class="list ">
            <label class="item item-select " id="team-select2" name="team">
                <span class="input-label">Select</span>
                <select>
                    <option>Arsenal</option>
                    <option>Aston Villa</option>
                    <option>Everton</option>
                    <option>Man UTD</option>
                    <option>Chealsea</option>
                </select>
            </label>
        </form>
        <ion-list id="team-list3" class=" ">
            <ion-item class="item-avatar  teamlist" id="team-list-item11" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item>
            <ion-item class="item-avatar  teamlist" id="team-list-item20" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item>
            <ion-item class="item-avatar  teamlist" id="team-list-item19" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item>
            <ion-item class="item-avatar  teamlist" id="team-list-item21" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>