<ion-view title="Team" id="team" class=" ">
    <ion-content padding="false" class="has-header">
        <form id="team-form3" class="list ">
            <label class="item item-select " id="team-select2" name="team">
                <span class="input-label">Select</span>
                <select>
                    <option>Arsenal</option>
                    <option>Aston Villa</option>
                    <option>Everton</option>
                    <option>Man UTD</option>
                    <option>Chealsea</option>
                </select>
            </label>
        </form>
        <!--ion-list>
          <ion-item ng-repeat="team in teams">
             <img src="{{team.flag}}" alt="teamflag" />
             <h4>{{team.name}}</h4>
          </ion-item>
        </ion-list-->
        <ion-list id="team-list3" ng-repeat="team in teams">
            <ion-item class="item-avatar  teamlist" id="team-list-item11" ui-sref="tabsController.player">
              <div class="row">
                <div class="col .col-33"><img ng-src="{{team.flag}}" class="teamImage" ></div>
                <div class="col .col-75" style="text-align:center;"><h2>{{team.name}}</h2></div>
              </div>
            </ion-item>
            <!--ion-item class="item-avatar  teamlist" id="team-list-item20" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item>
            <ion-item class="item-avatar  teamlist" id="team-list-item19" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item>
            <ion-item class="item-avatar  teamlist" id="team-list-item21" ui-sref="tabsController.player">
                <img src="img/y9dJbZWxTIKB3OUCpX87_arsenal.png">
                <h2>Arsenal</h2>
            </ion-item-->
        </ion-list>
    </ion-content>
</ion-view>
