<ion-view title="Video" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="video-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Match">
            </label>
        </form>
        <button id="video-button1" style="font-weight:500;color:#FFFFFF;font-size:20px;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block icon-right ion-ios-refresh-empty ">Get More</button>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>